$radius: 30px;

.footer {
  position: relative;

  background-color: $white-400;
  border-radius: $radius $radius 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: $radius;
  }

  &--sublayer-dark {
    &::before {
      background-color: $light-blue-500;
    }
  }

  @media #{$tablet} {
    $radius: 60px;

    border-radius: $radius $radius 0 0;
  }
}

.footer__inner {
  padding: 37px 0 17px;

  text-align: center;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0 32px;
  }

  @media #{$desktop} {
    padding: 48px 0 32px;
  }
}

.footer__logo {
  display: inline-block;
  margin: 0 0 37px;

  @media #{$tablet} {
    margin: 0;
  }
}

.footer__logo-img {
  width: 96px;
  height: 15px;

  vertical-align: top;

  @media #{$tablet} {
    width: 164px;
    height: 42px;
  }

  @media #{$desktop} {
    width: 200px;
    height: 55px;
  }
}

.footer__social {
  margin: 0 0 13px;
  padding: 0 0 37px;

  border-bottom: 1px solid $white-450;

  @media #{$tablet} {
    margin: 0 7px 0 0;
    padding: 0;
  }

  @media #{$tablet} {
    margin: 0 45px 0 0;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  line-height: 16px;
  color: $grey-700;

  &::after {
    content: "";

    width: 27px;
    height: 33px;

    background-image: url("../img/icon-logo-html.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media #{$tablet} {
    justify-content: flex-start;
    margin: 0 0 3px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      margin: 0 0 0 23px;
    }
  }
}
