$spacer-mobile: 91px;
$spacer-tablet: 159px;
$spacer-desktop: 105px;
$radius: 20px;

.main {
  position: relative;

  padding: $spacer-mobile 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: $spacer-mobile + 1px;

    background-color: $dark-blue-400;
  }

  @media #{$tablet} {
    padding: $spacer-tablet 0 0;

    &::before {
      height: $spacer-tablet + 1px;

      background-color: $dark-blue-375;
    }
  }

  @media #{$desktop} {
    padding: $spacer-desktop 0 0;

    &::before {
      height: $spacer-desktop + 1px;

      background-color: $dark-blue-350;
    }
  }
}

.main__title-wrap {
  background-color: $dark-blue-400;
  border-radius: 0 0 $radius $radius;

  @media #{$tablet} {
    $radius: 60px;

    padding: 57px 0 0;

    background-color: $dark-blue-375;
    border-radius: 0 0 $radius $radius;
  }

  @media #{$desktop} {
    padding: 107px 0 0;

    background-color: $dark-blue-350;
  }
}

.main__title {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0 0 12px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $orange-700;
    border-radius: 4px;
    transform: translateY(50%);
  }

  @media #{$tablet} {
    margin: 0 0 0 35px;
    padding: 0 0 64px;

    &::before {
      height: 7px;
    }
  }

  @media #{$desktop} {
    margin: 0 0 0 64px;
    padding: 0 0 70px;
    max-width: 70%;

    &::before {
      height: 8px;
    }
  }
}
