$left-offset-tablet: 40px;
$right-offset-tablet: 48px;

.plan {
  padding: 23px 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $dark-blue-300;

  background-color: $white-400;
  border-radius: 10px;

  @media #{$tablet} {
    padding: 38px $right-offset-tablet 16px $left-offset-tablet;

    font-size: 20px;
    line-height: 20px;
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 36px 42px;
  }
}

.plan__title {
  position: relative;

  display: inline-block;
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  vertical-align: baseline;

  @media #{$tablet} {
    position: relative;

    display: block;
    margin: 0 0 18px;
    padding: 0 0 36px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      right: -#{$right-offset-tablet};
      bottom: 0;
      left: -#{$left-offset-tablet};

      height: 1px;

      background-color: $grey-425;
    }
  }

  @media #{$desktop} {
    max-width: 550px;
    margin: 0;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.plan__desc-wrap {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
  }

  @media #{$desktop} {
    width: 588px;
    margin: 0 0 0 auto;
  }
}

.plan__desc {
  margin: 0 0 5px;

  text-transform: uppercase;
  letter-spacing: 0.06em;

  &--common-margin {
    margin: 0 0 24px;
  }

  @media #{$tablet} {
    margin: 0 38px 0 0;

    letter-spacing: 0.1em;

    &--common-margin {
      margin: 0;

      letter-spacing: 0.06em;
    }

    &--special-margin {
      margin: 0 55px 0 0;
    }
  }
}

.plan__link {
  color: rgba($black-400, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.03em;

  transition: all $transition-duration;

  &:hover {
    color: rgba($black-400, 0.6);
  }

  &:active {
    color: rgba($black-400, 0.1);
  }

  @media #{$tablet} {
    margin: 0 -10px 0 auto;

    letter-spacing: 0.1em;
  }

  @media #{$desktop} {
    margin: 0 0 0 auto;
  }
}
