$radius: 30px;

.registration {
  position: relative;

  background-color: $dark-blue-350;
  border-radius: 0 0 $radius $radius;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: $radius;

    background-color: $orange-400;
  }

  @media #{$tablet} {
    $radius: 60px;

    border-radius: 0 0 $radius $radius;

    &::before {
      height: $radius;
    }
  }
}

.registration__inner {
  padding: 70px 0 30px;

  @media #{$tablet} {
    padding: 72px 36px 58px;
  }

  @media #{$desktop} {
    padding: 106px 72px 103px 74px;
  }
}

.registration__title {
  margin: 0 0 19px;

  text-align: center;

  @media #{$tablet} {
    margin: 0 0 61px;
  }

  @media #{$desktop} {
    margin: 0 0 57px;
  }
}

.registration__text {
  margin: 0 0 31px;
  padding: 0 27px;

  line-height: 22px;
  text-align: center;
  color: $white-400;

  &--special-margin {
    margin: 0 0 17px;

    letter-spacing: 0.01em;
  }

  @media #{$tablet} {
    margin: 0 0 67px;
    padding: 0;

    font-size: 28px;
    line-height: 32px;

    &--special-margin {
      margin: 0 0 43px;
    }
  }

  @media #{$desktop} {
    width: 700px;
    margin: 0 auto 60px;

    &--special-margin {
      margin: 0 auto 47px;
    }
  }
}

.registration__link {
  color: $orange-400;
  text-decoration: underline;

  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;

  @media #{$tablet} {
    text-underline-offset: 3px;
  }
}

.registration__form {
  display: flex;
  align-items: stretch;
  height: 62px;
  margin: 0 0 28px;

  @media #{$tablet} {
    height: 80px;
    margin: 0 0 57px;
  }

  @media #{$desktop} {
    height: 82px;
    margin: 0 0 64px;
  }
}

.registration__input {
  flex-grow: 1;
  margin: 0 -10px 0 0;
  padding: 22px 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $grey-700;

  background-color: $white-400;
  border: none;
  border-radius: 10px 0 0 10px;

  &::placeholder {
    color: rgba($grey-700, 0.3);
  }

  @media #{$tablet} {
    margin: 0;
    padding: 28px 36px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px 0 0 20px;
  }
}

.registration__button {
  justify-content: center;
  cursor: pointer;
  width: 60px;

  @media #{$tablet} {
    width: 80px;

    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }

  @media #{$desktop} {
    width: 323px;
    justify-content: space-between;
  }
}

.registration__button-text {
  @media #{$desktop} {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: none;
  clip: auto;
  overflow: visible;
  }
}
