$border-width: 1px;
$flag-wrap-width: 53px;
$flag-offset-tablet: 25px;
$flag-offset-desktop: 40px;
$close-offset-tablet: 140px;
$close-offset-desktop: 220px;
$circle-width: 8px;
$circle-width-tablet: 14px;
$arrow-down-height: 10px;
$arrow-down-offset: 6px;

.route {
  padding: 0 0 calc(2 * #{$arrow-down-offset} + #{$arrow-down-height});

  @media #{$tablet} {
    padding: 0 0 11px;
  }
}

.route__item {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0 0 calc(2 * #{$arrow-down-offset} + #{$arrow-down-height});

  &:last-child {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + #{$arrow-down-offset});
    right: $flag-wrap-width;

    width: 8px;
    height: $arrow-down-height;

    background: url("../img/arrow-down.svg") no-repeat;
    background-size: cover;
    transform: translateX(50%);
  }

  &--add {
    width: 100%;
    margin: 0 0 26px;

    &::after {
      display: none;
    }
  }

  @media #{$tablet} {
    margin: 0 0 15px;
    padding: 0 $flag-offset-tablet 0 0;

    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: $circle-width-tablet;
      height: $circle-width-tablet;

      border-radius: 50%;
      transform: translate(50%, -73%);
    }

    &--selected {
      &::before {
        background-color: $dark-blue-300;
      }
    }

    &--unselected {
      &::before {
        background-color: $white-400;
        border: 1px solid $grey-425;
      }
    }

    &--add {
      &::before {
        background-color: $grey-300;
        border: 1px solid $grey-425;
      }
    }
  }

  @media #{$desktop} {
    padding: 0 $flag-offset-desktop + 5px 0 0;
  }
}

.route__item--open {
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);

  .route__button {
    color: $white-400;
    letter-spacing: 0.02em;

    background-color: $dark-blue-300;
    border: 1px solid transparent;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;

    &::before {
      display: none;
    }

    &::after {
      width: 8px;
      height: 9px;

      background-image: url("../img/icon_close.svg");
      opacity: 0.3;

      transition: all $transition-duration;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      &::after {
        opacity: 0.1;
      }
    }
  }

  .route__button-close {
    display: none;
  }

  .route__select-country {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 11;

    display: block;
  }

  @media #{$tablet} {
    .route__button {
      letter-spacing: 0.1em;

      &::after {
        width: 22px;
        height: 21px;

        opacity: 0.3;
      }
    }

    .route__select-country {
      right: -182px;

      display: flex;
      justify-content: space-between;

      box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
    }

    .route__button-close {
      display: block;
    }
  }

  @media #{$desktop} {
    .route__select-country {
      right: $flag-offset-desktop + 5px;
      justify-content: flex-start;
    }
  }
}

.route__button {
  position: relative;

  flex-grow: 1;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $dark-blue-300;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  border-radius: 4px;

  cursor: pointer;

  &--select {
    background-color: transparent;
    border: $border-width solid $grey-425;

    transition: all $transition-duration;

    &::after {
      content: "";
      position: relative;
      z-index: 1;

      flex-shrink: 0;
      width: 11px;
      height: 8px;

      background: url("../img/arrow-select.svg") no-repeat;
      background-size: cover;
      opacity: 0.3;
    }

    &:hover {
      border-color: $grey-600;
    }
  }

  &--offset-arrow {
    @media #{$mobile-max} {
      &::after {
        position: absolute;
        right: 15px;
      }
    }
  }

  &--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0;
    padding: 11px 14px 11px 9px;
    overflow: hidden;

    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      top: $border-width;
      right: $border-width;
      bottom: $border-width;
      left: calc(100% - 56px);

      background-image: linear-gradient(to left, $white-400 65%, rgba($white-400, 0));
      border-radius: 0 4px 4px 0;
    }
  }

  &--unselected {
    padding: 12px calc(#{$flag-wrap-width} + #{$circle-width} / 2) 11px 9px;

    text-align: left;
    letter-spacing: 0.1em;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: $flag-wrap-width;

      width: $circle-width;
      height: $circle-width;

      background-image: none;
      border: 1px solid $grey-425;
      border-radius: 50%;
      transform: translate(50%, -50%);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 15px;

      transform: translateY(-50%);
    }
  }

  &--add {
    background-color: $grey-300;
    border: none;
    transition: all $transition-duration;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;

      width: 14px;
      height: 14px;

      background: url("../img/icon_plus.svg") no-repeat;
      background-size: cover;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $light-blue-400;
    }

    &:active {
      &::after {
        opacity: 0.5;
      }
    }
  }

  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 28px 23px 26px;

    font-size: 20px;
    line-height: 20px;

    &--select {
      &::after {
        width: 16px;
        height: 12px;
      }
    }

    &--unselected {
      &::before {
        display: none;
      }

      &::after {
        position: relative;
        top: 0;
        right: 0;

        transform: none;
      }
    }

    &--add {
      &::after {
        width: 21px;
        height: 21px;
      }
    }
  }
}

.route__select-country {
  display: none;
}

.route__flag-wrap {
  position: relative;

  width: $flag-wrap-width;
  margin: 0 0 0 -#{$border-width};
  padding: 8px;

  border: 1px solid $grey-425;
  border-radius: 4px;

  &--over {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: $circle-width;
    height: $circle-width;

    background-color: $dark-blue-300;
    border-radius: 50%;
    transform: translate(-55%, -55%);
  }

  @media #{$tablet} {
    position: absolute;
    top: 50%;
    left: calc(100% + #{$flag-offset-tablet} + 1px);

    width: auto;
    padding: 0;

    border: none;
    transform: translate(0, -50%);

    $circle-width: 14px;

    &::before {
      display: none;
    }
  }

  @media #{$desktop} {
    left: calc(100% + #{$flag-offset-desktop} + 1px);
  }
}

.route__flag-tooltip {
  @include flag-size;

  @media #{$tablet} {
    @include flag-size(70px, 47px);
  }
}

.route__flag {
  width: 100%;
}

.route__button-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background-color: $grey-300;
  border-radius: 50%;
  transform: translate(50%, -50%);

  cursor: pointer;

  transition: all $transition-duration;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 1px;

    background-color: $grey-500;
    border-radius: 1px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    background-color: $grey-250;
  }

  &:active {
    background-color: $grey-375;
  }

  &--over {
    z-index: 2;
  }

  @media #{$tablet} {
    top: 50%;
    right: -$close-offset-tablet;

    width: 22px;
    height: 24px;

    background-color: unset;
    border-radius: unset;
    transform: translateY(-50%);

    &::before,
    &::after {
      width: 24px;
      height: 2px;

      background-color: $black-400;
      border-radius: 2px;
      opacity: 0.1;
    }

    &:hover {
      background-color: unset;

      &::before,
      &::after {
        opacity: 0.3;
      }
    }

    &:active {
      background-color: unset;

      &::before,
      &::after {
        opacity: 0.05;
      }
    }
  }

  @media #{$desktop} {
    right: -$close-offset-desktop;
  }
}
