.status {
  position: relative;

  &::before,
  &::after {
    display: inline-block;
    width: 6px;
    height: 6px;

    vertical-align: middle;

    border-radius: 50%;
  }

  &--left {
    &::before {
      content: "";
    }
  }

  &--right {
    &::after {
      content: "";
    }
  }

  &--offline {
    &::before,
    &::after {
      background-color: $pink-400;
    }
  }

  &--online {
    &::before,
    &::after {
      background-color: $lightgreen-400;
    }
  }

  @media #{$tablet} {
    &::before,
    &::after {
      width: 8px;
      height: 8px;
    }
  }
}

.status--card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    margin: 9px 2px 0 0;
  }

  @media #{$tablet} {
    &::after {
      margin: 0;

      transform: translateY(50%);
    }
  }

  @media #{$desktop} {
    &::after {
      display: none;
    }

    &::before {
      content: "";
    }
  }
}
