.step {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 22px 25px 23px;

  background-color: $white-400;
  border: none;
  border-radius: 10px;

  &--special-padding {
    padding: 22px 25px 6px;
  }

  @media #{$tablet} {
    padding: 45px 40px 56px;

    border-radius: 30px;

    &--special-padding {
      padding: 45px 43px 54px;
    }
  }

  @media #{$desktop} {
    padding: 98px 160px 105px;

    border-radius: 60px;
  }
}

.step__header {
  display: grid;
  width: 100%;

  @media #{$desktop} {
    margin: 0 0 30px;
    padding: 0 0 57px;

    column-gap: 60px;

    border-bottom: 1px solid $grey-275;

    grid-template-columns: 2fr 1fr;
    row-gap: 33px;

    &--no-margin {
      margin: 0;
    }

    &--special-margin {
      margin: 0 0 72px;
    }
  }
}

.step__title {
  float: left;
  margin: 0 0 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  @media #{$tablet} {
    margin: 0 0 36px;

    font-size: 36px;
    line-height: 36px;
  }

  @media #{$desktop} {
    margin: 0;

    grid-column: 1/2;

    br {
      display: none;
    }
  }
}

.step__desc {
  margin: 0 0 20px;

  font-weight: 400;
  line-height: 22px;
  color: $grey-700;

  br {
    display: none;
  }

  @media #{$tablet} {
    margin: 0 0 23px;
    padding: 0 30px 39px 0;

    font-size: 20px;
    line-height: 24px;

    border-bottom: 1px solid $grey-275;

    &--no-margin {
      margin: 0;
    }

    &--special-padding {
      padding: 0 0 33px 0;
    }

    &--special-margin {
      margin: 0 0 27px;
    }

    br {
      display: block;
    }
  }

  @media #{$desktop} {
    margin: 0;
    padding: 0 40px 0 0;

    border: none;

    grid-column: 1/2;
  }
}

.step__marks {
  display: none;

  @media #{$desktop} {
    display: block;
    margin: 6px 0 0;
    padding: 0 0 0 88px;

    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.step__parameters {
  width: 100%;

  @media #{$tablet} {
    display: grid;
    margin: 0 0 60px;
  }

  @media #{$desktop} {
    display: grid;
    margin: 0 0 34px;

    column-gap: 50px;

    grid-template-columns: 1fr 1fr;
    row-gap: 14px;
  }
}

.step__input-number {
  margin: 0 0 20px;

  @media #{$tablet} {
    margin: 0 0 25px;

    &--days {
      order: 1;
      margin: 0;
    }
  }

  @media #{$desktop} {
    margin: 0;
  }
}

.step__checkbox-label {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0 0 23px;

  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  cursor: pointer;

  transition: all $transition-duration;

  &::before {
    content: "";

    width: 26px;
    height: 26px;
    margin: 0 13px 0 0;

    border: 1px solid $grey-425;
    border-radius: 4px;
  }

  &:hover {
    color: rgba($dark-blue-300, 0.6);

    &::before {
      border-color: $grey-600;
    }
  }

  &:active {
    color: rgba($dark-blue-300, 0.3);

    &::before {
      background-color: $grey-350;
      border: none;
    }
  }

  @media #{$tablet} {
    padding: 0 0 27px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    border-bottom: 1px solid $grey-275;

    &::before {
      width: 36px;
      height: 36px;
      margin: 0 22px 0 0;

      border: 1px solid $grey-425;
    }
  }

  @media #{$desktop} {
    margin: 0;
    padding: 0;

    border: none;

    justify-self: flex-end;
  }
}

.step__checkbox-input:checked + .step__checkbox-label::before {
  background: url("../img/icon_check-mark.svg") no-repeat center;
  background-size: 13px 12px;

  @media #{$tablet} {
    background-size: 18px 17px;
  }
}

.step__checkbox-input:checked + .step__checkbox-label {
  &:hover {
    &::before {
      border-color: $grey-600;

      transition: all $transition-duration;
    }
  }

  &:active {
    &::before {
      background-color: $grey-350;
      border: none;

      transition: all $transition-duration;
    }
  }
}

.step__checkbox-input:focus + .step__checkbox-label {
  color: rgba($dark-blue-300, 0.6);

  &::before {
    border-color: $grey-600;
  }
}

.step__calendar {
  width: 100%;
  margin: 0 0 24px;

  @media #{$tablet} {
    margin: 0 0 47px;
  }

  @media #{$desktop} {
    margin: 0 0 56px;
  }
}

.step__buttons-wrap {
  width: 100%;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.step__button {
  color: $dark-blue-300;

  cursor: pointer;

  &:hover {
    background-color: $orange-450;
  }

  &:active {
    color: rgba($dark-blue-300, 0.3);

    &::after {
      opacity: 0.3;

      transition: all $transition-duration;
    }
  }

  &--margin {
    margin: 0 0 6px;
  }

  &--stretched {
    width: calc(100% + 10px);
    margin: 0 -5px 6px;
  }

  @media #{$tablet} {
    justify-content: space-between;
    width: 52.5%;
    padding: 28px 33px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    border-radius: 20px;

    &::after {
      content: "";

      display: block;
      width: 0;
      height: 0;

      border-top: 6px solid transparent;
      border-right-width: 0;
      border-bottom: 6px solid transparent;
      border-left: 12px solid $dark-blue-300;
    }

    &--margin {
      margin: 0;
    }

    &--back {
      flex-direction: row-reverse;
      width: 192px;
      padding: 20px 0 20px 10px;

      &::after {
        transform: rotate(180deg);
      }

      &:hover {
        background-color: unset;
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &--special-width {
      width: 53.5%;
    }
  }

  @media #{$desktop} {
    width: 286px;

    &--back {
      width: 192px;
    }
  }
}

.step__route-wrap {
  width: 100%;
  margin: 0 0 25px;

  $right-padding-desktop: 226px;
  $right-padding-tablet: 138px;

  @media #{$tablet} {
    position: relative;

    margin: 0 0 9px;
    padding: 42px $right-padding-tablet 42px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: $right-padding-tablet - 1px;
      bottom: 0;

      width: 1px;
    }

    &::before {
      top: 0;

      background-color: $grey-275;
    }

    &::after {
      height: 70px;

      background-image: linear-gradient(to top, $white-400, transparent 70%);
    }
  }

  @media #{$desktop} {
    padding: 60px $right-padding-desktop 51px 0;

    &::before,
    &::after {
      right: $right-padding-desktop - 1px;
    }

    &::before {
      bottom: -100px;
    }

    &::after {
      display: none;
    }
  }
}

.step__recreation {
  width: 100%;
  margin: 0 0 23px;

  @media #{$tablet} {
    margin: 0 0 49px;
  }

  @media #{$desktop} {
    margin: 0 0 56px;
  }
}
