.title {
  font-weight: 700;


  &--medium {
    font-size: 24px;
    line-height: 24px;
  }

  &--x-medium {
    font-size: 24px;
    line-height: 24px;
  }

  &--large {
    font-size: 36px;
    line-height: 40px;
  }

  &--theme-light {
    color: $white-400;
  }

  &--theme-orange {
    color: $orange-700;
  }

  &--theme-sky {
    color: $dark-blue-300;
  }

  @media #{$tablet} {
    &--medium {
      font-size: 36px;
      line-height: 36px;
    }

    &--x-medium {
      font-size: 45px;
      line-height: 45px;
    }

    &--large {
      font-size: 60px;
      line-height: 70px;
    }
  }
}
